public/static/hello.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tns="urn:helloservicewsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="urn:helloservicewsdl">

    <types>
        <xsd:schema targetNamespace="urn:hellowsdl"
                    xmlns="http://www.w3.org/2001/XMLSchema"
                    xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xmlns:tns="urn:hellowsdl">

            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <complexType name="User">
                <sequence>
                    <element name="email" type="xsd:string"/>
                    <element name="password" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="Users">
                <sequence>
                    <element name="User" type="tns:User" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
        </xsd:schema>
    </types>

    <!--Hello Service-->
    <message name="helloRequest">
        <part name="name" type="xsd:string"/>
    </message>

    <message name="helloResponse">
        <part name="return" type="xsd:string"/>
    </message>

    <portType name="hellowsdlPortType">
        <operation name="hello">
            <documentation>Hello World</documentation>
            <input message="tns:helloRequest"/>
            <output message="tns:helloResponse"/>
        </operation>
    </portType>

    <binding name="hellowsdlBinding" type="tns:hellowsdlPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="hello">
            <soap:operation soapAction="urn:arnleadservicewsdl#hello" style="rpc"/>

            <input>
                <soap:body use="encoded"
                           namespace="urn:hellowsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded"
                           namespace="urn:hellowsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <!--Hello Service-->

    <!--User Service-->
    <message name="userRequest">
        <part name="email" type="xsd:string"/>
    </message>
    <message name="userResponse">
        <part name="Users" type="tns:Users"/>
    </message>
    <portType name="userPortType">
        <operation name="user">
            <documentation>User Service</documentation>
            <input message="tns:userRequest"/>
            <output message="tns:userResponse"/>
        </operation>
    </portType>
    <binding name="userBinding" type="tns:userPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="user">
            <soap:operation soapAction="urn:arnleadservicewsdl#user" style="rpc"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!--Define Service-->
    <service name="hellowsdl">
        <port name="hellowsdlPort" binding="tns:hellowsdlBinding">
            <soap:address location="http://localhost:8000/soap"/>
        </port>
    </service>
    <service name="userwsdl">
        <port name="userPort" binding="tns:userBinding">
            <soap:address location="http://localhost:8000/user"/>
        </port>
    </service>

</definitions>